# Render / Supabase
SECRET_KEY=cambie_este_valor
ADMIN_USERNAME=admin
ADMIN_PASSWORD=cambie_esta_clave
DATABASE_URL=postgresql://postgres.xxxxxx:PASSWORD@aws-0-us-east-1.pooler.supabase.com:6543/postgres
PGSSLMODE=require
